{{>layout/header}}

<h1> 심플 프로젝트</h1>
<div class="col-md-12">
    <div class="row">
        <a href="/posts/save" role="button" class="btn btn-primary">
            글등록
        </a>
    </div>
</div>
{{>layout/footer}}
